*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  background-color: #5CA4A9;
  color: #fff;
  font-size: 17px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  line-height: 1.6;
}

.wrapper {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 30px;
}

.datepicker {
  position: relative;
}

.datepicker__calendar {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  color: #26313D;
  min-width: 300px;
}

.datepicker__calendar.is-hidden {
  display: none;
}

.datepicker__calendar-month {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #E6EBE0;
}

.datepicker__nav {
  display: flex;
  justify-content: space-between;
  padding: 4px;
}

.datepicker__month {
  width: 100%;
}

.datepicker__day {
  text-align: center;
}
