$nav-height: 40px;

.datepicker {
  position: relative;
}

.datepicker__input {
  border: none;
  padding: 6px 10px;
  font-size: 17px;
  font-family: "Rubik", sans-serif;
}

.datepicker__calendar {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  color: #26313D;
  width: 304px;
}

.datepicker__calendar.is-hidden {
  display: none;
}

.datepicker__calendar-month-wrap {
  position: relative;
}

.datepicker__calendar-month {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #E1F2FE;
  border-radius: 4px;
}

.datepicker__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 100;
  width: 100%;
  height: $nav-height;
  padding-left: 10px;
  padding-right: 10px;
}

.datepicker__month {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;

  tr {
    display: flex;
  }

  td,
  th {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  th {
    font-weight: 400;
  }
}


.datepicker__day {
  background-color: #fff;
  cursor: pointer;
}

.datepicker__day.is-active {
  background-color: #D3C4E3;
}

.datepicker__day.is-selected {
  background-color: #B2B1CF;
}

.datepicker__month-title {
  height: $nav-height;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
